flask
flask-cors
ultralytics==8.0.196
numpy==1.26.4
pillow
requests
opencv-python-headless==4.7.0.72
torch==2.0.0+cpu
torchvision==0.15.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
